#home-section-2 a {
    color: #E03C8A;
    font-size: 20px;
}
#home-section-2 h1 {
    font-size: 45px;
}
#home-section-2 p {
    margin: 25px 0;
}
#home-section-2 a i {
    font-weight: 400;
}
#home-section-2 {
    padding: 100px 0;
    background-image: url(../../assets/images/section-2-background.png);
    background-repeat: no-repeat;
    background-position: left 50%;
}
#home-section-2 .row div:first-child {
    padding-right: 100px;
}
#home-section-2 .row div:first-child img {
    width: 100%;
}
#home-section-2 .row {
    align-items: center;
}